<div class="card" data-tag="misc">
	<div class="card-top">
		<i class="card-icon @Icons.Controller"></i>
		<span class="card-tag">Game</span>
	</div>
	<div class="card-name">A Link to the Past</div>
	<div class="card-description">Clone of the classic SNES game</div>
	<div class="card-footer">
		<span class="card-tech">C# &middot; SDL3</span>
		<i class="@Icons.BoxArrowUpRight card-arrow"></i>
	</div>
</div>
